.contactSection{
    padding: 3rem 0;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 5rem 0;
}

.formHeader{
    text-align: center;
    color: black;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
}

.formDescription{
    color: #5a6475;
    display: block;
    padding: 1rem 0 3rem 0;
    max-width: 600px;
    text-align: center;
}

.formContainer{
    color: black;
    background-color: rgba(250, 247, 247, 0.836);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border-radius: 10px;
}

.fieldLabel{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.formField{
    margin-bottom: 2rem;
}

.formInput{
    width: 100%;
    padding: 1.5rem;
    border-radius: 5px;
    resize: none;
    font-family: var(--font-rubik);
    font-size: 14px;
    border: none;
}

.formContainer input:focus, .formContainer textarea:focus{
    outline: none;
}

.submitBtnContainer{
    text-align: right;
    margin-top: 5px;
}

#submitBtn {
    justify-self: right;
    width: 200px;
    cursor: pointer;
    padding: 0.75rem;
    font-family: var(--font-rubik);
}

@media only screen and (max-width: 700px) {
    .formContainer{
        width: 90%;
    }

    .formDescription{
        max-width: 400px;
    }

    .formField{
        margin-bottom: 1rem;
    }
    .formInput{
        padding: 1rem;
    }

}