.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5rem 0;
    min-height: 100dvh;
}

.socials{
    background-color: #f3f2f2;
    color: black;
    position: absolute;
    top: 130px;
    right: 10%;
    z-index: 0;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.socials ul {
    display: flex;
    min-width: 8rem;
    justify-content: space-between;
    list-style-type: none;
    z-index: -2;
    padding: 0.5rem;
}

.socialLinks{
    display: block;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

.socialLinks:hover{
    background-color: rgba(202, 199, 199, 0.5);
}

.mainContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lineDeco{
    position: absolute;
    bottom: 200px;
    width: 30%;
    height: 8px;
    border-radius: 5px;
    background-color: #4b4b81;
}

.landingHeading{
    color: rgba(29, 29, 29, 0.747);

    text-align: left;
    font-size: 30px;
    font-weight: 500;
}

.name{
    color: #E6AF2E;
    display: block;
    font-size: 8rem;
    font-weight: 500;
    text-align: center;
}

.period{
    color: rgba(58, 58, 58, 0.747);
    font-size: 4rem;
}
.landingText{
    margin: 3rem 0 0 0;
    text-align: center;
    max-width: 700px;
    font-weight: 400;
    color: rgba(58, 58, 58, 0.747);
}

@media only screen and (max-width: 700px) {
    .socials{
        right: auto;
    }

    .name{
        font-size: 4.5rem;
    }
}