.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
  margin: auto;
  padding: 5rem 0;
  min-height: 100dvh;
}

.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.projectsHeader{
    text-align: center;
    color: black;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
}

.projectsText {
    width: 50%;
    color: #5a6475;
}

.projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
    /* Justify-content aligns the grid itself along the row axis */
    /* justify-content: center; */
    /* Justify-items aligns the content inside a grid item along the row axis */
    justify-items: center;
    align-items: center;
    width: 100%;
}

.project{
    background-color: #eeebeb;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem 0;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
    width: 65%;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.projectHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

}
.projectName{
    font-size: 30px;
    color: black;
    text-align: center;
}

.links {
    display: flex;
    margin: 0 0.5rem;
}
.link {
    margin: 0 0.5rem;
    background-color: #d8d7d7;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
}

.link:hover{
    background-color: #a5a7ac;
}

.projectDescription{
    width: 80%;
    display: block;
    text-align: center;
    color:#464d58;
    margin-bottom: 2rem;
}

.imageContainer{
    position: relative;
    width: 80%;
    min-height: 400px;
    margin-bottom: 2rem;   
}

.projectImage{
    border-radius: 10px;
}

.techStack{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: #262a30;
}

.tech{
    background-color: #464d586e;
    padding: 0.3rem 0.3rem;
    margin: 8px;
    border-radius: 10px;
    font-size: 12px;
}

@media only screen and (max-width: 700px) {

    .project {
        width: 80%;
    }
    
    .imageContainer{
        min-height: 300px;
    }
    
}